
body {
    padding-bottom: 40px;
}

#myCarousel-text {
    position: absolute;
    text-align: center;
}

#slide-img-01,
#slide-img-02,
#slide-img-03 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center;
}

#slide-img-01 {
    background-image: url(../images/shotstash_290817_0002-optimised.jpg);
}

#slide-img-02 {
    background-image: url(../images/StockSnap_11ABE7BK82-overlayOptimised.jpg);
}

#slide-img-03 {
    background-image: url(../images/StockSnap_KPMRVAREV0-overlayOptimised.jpg);
}

#carousel-container {
    position: relative;
    width: 100%;
}

#carousel-text {
    position: absolute;
    z-index: 100;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo,
#mobile-icon,
#devices-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

#dinc-logo {
    background-image: url(../images/dinc-logo_white.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 280px;
    height: 30px;
    margin: 0 auto;
}

#logo {
    background-image: url(../images/Boostrap_logo.png);
    margin-bottom: 20px;
}

#mobile-icon {
    background-image: url(../images/icons/mobile-noun_1180249_cc-edit.svg);
}

#devices-icon {
    background-image: url(../images/icons/devices-noun_1180247_cc-edit.svg);
}

.headline h1 {
    display: inline-block;
    vertical-align: top;
}

.headline h2 {
    display: inline-block;
    vertical-align: top;
}

.row-padding {
    padding: 40px 0;
}

.container-margin {
    margin: 40px 0;
}

.logo-with-text #logo-text {
    display: inline-block;
    padding-left: 20px;
    width: 90%;
    vertical-align: middle;
}

.monospace-text {
    font-family: monospace;
    color: red;
}

#carousel-container p {
    text-align: center;
}

@media screen and (max-width: 640px) {
    #carousel-container h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    #carousel-container #dinc-logo {
        width: 150px;
        height: 20px;
    }
}

@media screen and (max-width: 640px) {
    #carousel-container p {
        font-size: 12px;
    }
}

.lavender {
    background-color:lavender;
}

.lavenderblush {
    background-color: lavenderblush;
}
